@page "{courseId}"
@model DigiLearn.Web.Pages.Profile.Teacher.Courses.Section.IndexModel
@{
    ViewData["Title"] = "مدیریت فصل های دوره"+$"'{Model.Course.Title}'";
    Layout = "Shared/_ProfileLayout";
}
<div class="row ">
        <a asp-page="Add" asp-route-courseId="@Model.Course.Id" class="btn btn-save mr-2 mb-4 float-right">ثبت فصل جدید</a>
    <div class="col-12 info shadow pl-0 pr-0">
        <p class="title">
            <i class="fa fa-paper-plane"></i>
            @ViewData["Title"]
        </p>
        <br>
        <div class="info-body p-2">
            <div id="accordion">
                @foreach (var item in Model.Course.Sections.OrderBy(x => x.DisplayOrder))
                {
                    <div class="card">
                        <div class="card-header" id="a_@item.Id">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="a_@item.Id" aria-expanded="true" aria-controls="a_@item.Id">
                                    @item.Title
                                </button>
                            </h5>
                        </div>

                        <div id="a_@item.Id" class="collapse show" aria-labelledby="a   _@item.Id" data-parent="#accordion">
                            <div class="card-body">
                                hi my name is kina im from iran my job is buusinnes men
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
