@page
@model DigiLearn.Web.Pages.Profile.RegisterTeacherModel
@{
    ViewData["title"] = "ثبت نام مدرس";
    Layout = "Shared/_ProfileLayout";
}
                <div class="row ">
                    <div class="col-12 info shadow pl-0 pr-0">
                        <p class="title">
                            <i class="fa fa-address-card-o"></i>
                            @ViewData["title"]
                        </p>
                        <form method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.EditorFor(x => x.UserName)
                                </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(x => x.CvFile)
                                </div>
                                <div class="col-12">
                                    <button class="btn  btn-save  mt-3">افزودن اطلاعات</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
