@page "{id}"
@model DigiLearn.Web.Areas.Admin.Pages.Courses.Categories.EditModel
@{
    ViewData["title"] = "ویرایش دسته بندی";
    ViewData["selected"] = "courses_categories";
}
<form method="post" class="card" enctype="multipart/form-data">
    <div class="row card-body">
        <div class="col-md-6">
            @Html.EditorFor(x => x.Title);
        </div>
        <div class="col-md-6">
            @Html.EditorFor(x => x.Slug);
        </div>
    </div>
    <div class="card-footer text-left">
        <button class="btn btn-success" type="submit">ویرایش اطلاعات</button>
    </div>
</form>